<div class="row mb-0">
  <div class="input-field col offset-s3 s6 mb-0">
    <input id="name" type="text" name="name" value="{{name}}" required>
    <label class="active" for="name">Название таблицы</label>
  </div>
</div>
  