<div id="{{name}}" class="modal bottom-sheet">
  <form class="container">
    <div class="container modal-content">
      {{{content}}}
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-close btn-flat btn-small waves-effect waves-green">{{closeText}}</button>
      <button type="submit" class="btn-small waves-effect waves-light">{{submitText}}</button>
    </div>
  </form>
</div>