<div class="row mb-0">
    <div class="col m8 offset-m2">
        <div class="file-field input-field">
            <div class="btn">
                <span>Файл</span>
                <input id="file" type="file" accept=".json" required>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Загрузите файл формата JSON">
            </div>
        </div>
    </div>
</div>