<li>
    <a href="#!" id="add-table" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">add</i>
        Добавить таблицу
    </a>
</li>
<li>
    <a href="#!" id="code-view" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">code</i>
        Просмотреть код
    </a>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="#!" id="clean" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">replay</i>
        Очистить проект
    </a>
</li>
<li>
    <a href="#!" id="export" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">vertical_align_bottom</i>
        Экспорт проекта
    </a>
</li>
<li>
    <a href="#!" id="import" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">vertical_align_top</i>
        Импорт проекта
    </a>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="#!" id="test-project" class="btn-flat waves-effect waves-light ml-1">
        <i class="material-icons">adb</i>
        Тестовый проект
    </a>
</li>